@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}


@layer base {
  h1 {
    @apply text-3xl font-logo;
  }
  h2 {
    @apply text-2xl font-logo;
  }
  h3 {
    @apply text-xl font-menu;
  }
  h4 {
    @apply text-lg font-menu;
  }
  h5 {
    @apply text-lg font-guide;
  }
  h6 {
    @apply font-guide;
  }
  p {
    @apply font-text;
  }
  span {
    @apply font-guide;
  }
}
